$h2-color: white;
$div-color-rojo: #E56353;
$div-color-gris: #686963;
$div-color-gris-2: #919198;
$div-color-blanco: #FFF;
$margin-bot: 2%;
$margin: 2%;
$margin2: 4%;
$color-letra: #FFF;
$color-letra-gris: #686963;
$tamañofoto: 50%;
$widthfotos: 25%;
$aligncenter: center;
$alignstart: flex-start;
$widthp: 60%;